header {
  display: fixed;
  height: 69px;
}
.topmission .ourmission {
  background-image: url("resources\images\img-mission-background.jpg");

}

h2,
h4,
h5 {
  font-family: Helvetica;
  color: seashell;
  font-size: 20px;
  text-align: center;
  opacity: 0.9;

}

body {
  background-color: black;
}

nav {
  text-align: right;
  display: inline-block;
  text-decoration: underline;

}

.logo {
  height: 50px;
}
